/*GLOBAL*/
h1{
    font-family: 'Shrikhand', cursive;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);*/
}
a{
    text-decoration: none;
}
div img{
    width: 100%;
    height: 300px;
    z-index: -9999;
}
/*load changement de page*/

.load{
    background: #99e2d0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    animation: 4s 0s 1 both startpage;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
}
@keyframes startpage {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}
.cube{
    border: 15px solid #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-left-color: #ff79da;
    border-right-color: #9356dc;
    animation: 3s 0s linear infinite both loader;
}
@keyframes loader {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.20);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

/*HEADER*/

header{
    background-color: #f2f2f2;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
}

.titre_site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.titre_site h1{
    text-align: center;
}
.fa-arrow-left{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
}
a .fa-arrow-left{
    color: #2c2c2c;
}

/*SECTION*/
.nom_du_restau{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 20px;
}
h1{
    text-overflow: ellipsis;
    overflow: hidden;
}
.title_restau{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}
.repas{
    margin: 0 0 50px 0;
}
.fa-heart{
    font-size: 30px;
}
.contenair_heart:hover .coeur1{
    transition: all 1s linear;
    opacity: 0!important;
}
.contenair_heart{
    padding: 20px;
}
.plein{
    position: relative;
    right: 34px;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s linear;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}


/*LISTE*/
.liste{
    background-color: #f2f2f2;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    margin-top: -30px;
    z-index: 1;
}

/*MENU*/
h2{
    font-weight: 300;
    font-size: 20px;
}

.menu p{
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu h3{
    margin: 0;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bold, .prix{
    font-weight: bold;
}

.titre_repas{
    margin-left: 15px;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
}
article{
    background-color: #fff;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0px 6px 2px -3px rgba(0,0,0,0.25);
}
section article{
    animation: anim 5s;
}
.prix_et_check{
    display: flex;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}
.prix{
    padding: 20px;
}
@media screen and (max-width: 425px) {
    .prix {
        width: 10px;
    }
}
.chek{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s linear;
    overflow: hidden;
    width: 0px;
}
article:hover .chek{
    background-color: #99E2D0;
    width: 90px;
}
.fa-check{
    font-size: 15px;
    color: #99E2D0;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px 5px;
    transform: rotate(0deg);
    transition: all 0.5s linear;
}
article:hover .fa-check{
    transform: rotate(360deg);
}
.commander{
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.75);
    width: 210px;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 50px;
    transform: scale(1);
    color: #fff;
    text-align: center;
    &:hover {
        /*transform: scale(1.05);*/
        animation: .3s 0s linear both bouton;
        transition: all .3s linear;
        box-shadow: 0px 6px 20px 10px rgba(0,0,0,0.95);
        background-image: linear-gradient(to right bottom, #fab1e5, #e793df, #e584f0, #c776ec, #ad76f0);
    }
}
@keyframes bouton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1);
    }
}
.bouton_commande{
    padding-bottom: 70px;
}

/* keyframe anim nom des plats*/
@keyframes chek {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
}
@keyframes anim {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
.anim1{
    animation: 2s 1s 1 both anim;
}
.anim2{
    animation: 2s 1.5s 1 both anim;
}
.anim3{
    animation: 2s 2s 1 both anim;
}

/*FOOTER*/

footer{
    background-color: #3f3f3f;
}
.bloc{
    padding: 20px 0 25px 20px;
}
.logo_info_footer{
    font-family: 'Shrikhand', cursive;
    margin-bottom: 15px;
    color: #fff;
}
.info_footer{
    margin: 5px 0 5px 0;
    a {
        color: white;
    }
    :hover {
        color: #9356dc;
    }
}
.fa-hands-helping{
    font-size: 0.7em;
}
.fa-hands-helping, .fa-utensils{
    margin-right: 10px;
}

/* media screen */

@media screen and (min-width: 785px)
    {   
        header{
            top: 0;
            left: 0;
            width: 100%;
        }
        .fa-arrow-left {
            position: relative;
            top: 0px;
            left: -270px;
            font-size: 1.5em;
        }
        div img{
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 70px;
        }
        
        body{
            margin: auto;
            object-fit: cover;
        }
        
        /* liste des plats*/
        .liste{
            max-width: 768px;
            margin: auto;
            margin-top: 274px;
        }

        /*FOOTER*/
        footer{
            position: relative;
        }
        .bloc {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }