/*GLOBAL*/
h1{
    font-family: 'Shrikhand', cursive;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);*/
}
a{
    text-decoration: none;
}
div img{
    width: 100%;
    height: 300px;
}
/*load changement de page*/

.load{
    background: #99e2d0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    animation: 4s 0s 1 both startpage;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
}
@keyframes startpage {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}
.cube{
    border: 15px solid #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-left-color: #ff79da;
    border-right-color: #9356dc;
    animation: 5s 0s infinite both loader;
}
@keyframes loader {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.20);
    }
    100% {
        transform: rotate(720deg) scale(1);
    }
}

/*HEADER*/

header{
    background-color: #f2f2f2;
    position: fixed;
    width: 100%;
}

.titre_site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.titre_site h1{
    text-align: center;
}
.fa-arrow-left{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
}
a .fa-arrow-left{
    color: #2c2c2c;
}

/*SECTION*/
.nom_du_restau{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 20px;
}
.repas{
    margin: 0 0 50px 0;
}
.fa-heart{
    margin-right: 35px;
    position: absolute;
    right: 10px;
}
.plein{
    color: red;
    transition: all 1s linear;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

/*LISTE*/
.liste{
    background-color: #f2f2f2;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    margin-top: -30px;
}

/*MENU*/

.menu p{
    margin: 0px;
}
.bold, .prix{
    font-weight: bold;
}

.titre_repas{
    margin-left: 15px;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
}
article{
    background-color: #fff;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0px 6px 2px -3px rgba(0,0,0,0.25);
}
.prix_et_check{
    display: flex;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
.prix{
    margin-top: 30px;
}
.chek{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}
article:hover .chek{
    background-color: #99E2D0;
    width: 60px;
}
.fa-check{
    color: #99E2D0;
    background-color: #fff;
    border-radius: 50%;
}


.commander{
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    box-shadow: 0px 6px 20px -5px rgba(0,0,0,0.75);
    width: 210px;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 50px;
    transform: scale(1);
    &:hover {
        transform: scale(1.15);
        box-shadow: 0px 6px 20px 10px rgba(0,0,0,0.95);
        background-image: linear-gradient(to right bottom, #fab1e5, #e793df, #e584f0, #c776ec, #ad76f0);
    }
}
.bouton_commande{
    padding-bottom: 70px;
    .commander{
        color: #fff;
        text-align: center;
    }
}

/* keyframe anim nom des plats*/

@keyframes anim {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
.a1{
    animation: 1s 0s 1 both anim;
}
.a2{
    animation: 1s 0.5s 1 both anim;
}
.a3{
    animation: 1s 1s 1 both anim;
}
.a4{
    animation: 1s 1s 1 both anim;
}
.b1{
    animation: 1s 1.5s 1 both anim;
}
.b2{
    animation: 1s 2s 1 both anim;
}
.b3{
    animation: 1s 2.5s 1 both anim;
}.c1{
    animation: 1s 3s 1 both anim;
}
.c2{
    animation: 1s 3.5s 1 both anim;
}
.c3{
    animation: 1s 4s 1 both anim;
}

/*FOOTER*/
footer{
    background-color: #3f3f3f;
}
.bloc{
    padding: 20px 0 25px 20px;
}
.logo_info_footer{
    font-family: 'Shrikhand', cursive;
    margin-bottom: 15px;
    color: #fff;
}
.info_footer{
    margin: 5px 0 5px 0;
    a {
        color: white;
    }
    :hover {
        color: #9356dc;
    }
}
.fa-hands-helping{
    font-size: 0.7em;
}
.fa-hands-helping, .fa-utensils{
    margin-right: 10px;
}

/* media screen */

@media screen and (min-width: 785px)
    {   
        header{
            top: 0;
            left: 0;
            width: 100%;
        }
        div img{
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 70px;
        }
        
        body{
            margin: auto;
            object-fit: cover;
        }
        
        /* liste des plats*/
        .liste{
            max-width: 768px;
            margin: auto;
            margin-top: 150px;
        }

        /*FOOTER*/
        footer{
            width: 100%;
            position: relative;
        }
        .bloc{
            margin: auto;
        }
    }