/*GLOBAL*/
a:hover {
  color: #9356dc;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

a {
  text-decoration: none;
}

/*HEADER*/
.titre_site {
  text-align: center;
}

/*loader de page*/
.load {
  background: #99e2d0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-animation: 4s 0s 1 both startpage;
          animation: 4s 0s 1 both startpage;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0;
  left: 0;
}

@-webkit-keyframes startpage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes startpage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.cube {
  border: 15px solid #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-left-color: #ff79da;
  border-right-color: #9356dc;
  -webkit-animation: 3s 0s linear infinite both loader;
          animation: 3s 0s linear infinite both loader;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
  }
}

/*BODY*/
/*menu NAV*/
.lieu {
  padding: 15px 0 15px 0;
  background-color: #d9d8d8;
  -webkit-box-shadow: 0px 6px 2px -3px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 6px 2px -3px rgba(0, 0, 0, 0.25) inset;
  font-weight: bold;
}

.info_bouton {
  padding: 10px 0 35px 0;
}

nav {
  text-align: center;
  background-color: #f2f2f2;
}

.bouton_explo {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(#e86edb), color-stop(#cf64dc), color-stop(#b35cdc), to(#9356dc));
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  -webkit-box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.75);
  width: 210px;
  margin: 0 auto;
  padding: 1px 0;
  border-radius: 50px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.bouton_explo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-box-shadow: 0px 6px 20px 10px rgba(0, 0, 0, 0.95);
          box-shadow: 0px 6px 20px 10px rgba(0, 0, 0, 0.95);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fab1e5), color-stop(#e793df), color-stop(#e584f0), color-stop(#c776ec), to(#ad76f0));
  background-image: linear-gradient(to right bottom, #fab1e5, #e793df, #e584f0, #c776ec, #ad76f0);
}

.texte_explo, .num {
  color: #fff;
}

/*fonctionnement*/
.fonction_element p {
  font-weight: bold;
}

.fonctionnement {
  margin: 35px 0 45px 0;
}

.bloc_fonction a {
  width: 360px;
}

.bloc_fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fonction {
  -webkit-box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 6px 20px -5px rgba(0, 0, 0, 0.75);
  background-color: #f2f2f2;
  margin: 10px 0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.fonction .fonction_element, .fonction a {
  font-size: 1.2em;
  color: black;
}

a .fonction:hover {
  background: #9256dc1f;
}

a:hover .fonction i {
  color: #9356dc;
}

.titre_h2 {
  width: 100%;
}

.fonction i {
  margin: 0 25px 0 35px;
}

.num {
  background-color: #9356dc;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -12px;
}

.fa-mobile-alt {
  font-size: 1.4em;
  color: grey;
}

.fa-list {
  font-size: 1.2em;
  color: grey;
}

.fa-store {
  font-size: 1em;
  color: grey;
}

/*liste des restau*/
.restau a {
  color: black;
}

.restau a :hover {
  color: #9356dc;
}

.liste_des_restau {
  background-color: #f2f2f2;
}

.info_restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 10px;
}

.heart {
  position: relative;
  margin-top: 25px;
  font-size: 25px;
}

.fa-heart {
  position: absolute;
  top: -10px;
  right: 10px;
  color: #464646;
  font-size: 35px;
}

.heart:hover .far {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  opacity: 0 !important;
}

.plein {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  opacity: 0;
}

.plein:hover {
  opacity: 1;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*article*/
article {
  background-color: #fff;
  border-radius: 20px;
  margin: 10px 0 20px 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

article img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.new {
  color: #367e6d;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 15px;
  border-radius: 2px;
  position: absolute;
  right: 30px;
  margin-top: 15px;
}

.nom_restau h3 {
  margin-top: 10px;
}

.nom_restau p {
  margin-top: -15px;
}

/*FOOTER*/
footer {
  background-color: #3f3f3f;
}

.bloc {
  padding: 20px 0 25px 20px;
  height: 100%;
}

.logo_info_footer {
  font-family: 'Shrikhand', cursive;
  margin-bottom: 15px;
  color: #fff;
}

.info_footer {
  margin: 5px 0 5px 0;
}

.info_footer a {
  color: white;
}

.info_footer :hover {
  color: #9356dc;
}

.fa-hands-helping {
  font-size: 0.7em;
}

.fa-hands-helping, .fa-utensils {
  margin-right: 10px;
}

/*media screen desktop*/
@media screen and (max-width: 768px) {
  .bloc_fonction a {
    width: 100%;
  }
  .liste_des_restau {
    padding: 15px 15px;
  }
  .fonctionnement {
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: auto;
  }
  section {
    padding: 20px 0 40px 0;
  }
  h2 {
    text-align: center;
  }
  /* partie FONCTIONNEMENT*/
  .fonction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fonctionnement {
    display: block;
    max-width: 1280px;
    margin: auto;
  }
  .bloc_fonction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* SECTION LISTE DES RESTAU*/
  .liste_des_restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restau {
    max-width: 45%;
    width: 45%;
  }
  .contenair {
    max-width: 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenair_restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .liste_des_restau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .liste_des_restau h2 {
    width: 100%;
  }
  article {
    position: relative;
  }
  /*FOOTER*/
  footer {
    position: relative;
  }
  .bloc {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */